.version.chapter01_copy /* version checker */
{
	color: #0000F1;
	background-color: #0DC858;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 893px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	width: 0.01px;/* should not cover content below */
}

#top01
{
	margin-left: 496px;
	position: relative;
}

#pu10770
{
	width: 0.01px;
	padding-bottom: 6px;
	margin-left: -58px;
	margin-top: 67px;
}

#u10770
{
	z-index: 30;
	width: 980px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 81px;
}

#u10908-4
{
	z-index: 32;
	width: 67px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 346px;
}

#u10908-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 67px;
	margin: 66px -10000px 0px 0px;
}

#u10923-4
{
	z-index: 36;
	width: 118px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 439px;
}

#u10923-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 118px;
	margin: 66px -10000px 0px 0px;
}

#u10926-4
{
	z-index: 40;
	width: 90px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 699px;
}

#u10926-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 90px;
	margin: 66px -10000px 0px 0px;
}

#u10929-4
{
	z-index: 44;
	width: 112px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 815px;
}

#u10929-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 112px;
	margin: 66px -10000px 0px 0px;
}

#u10932-4
{
	z-index: 48;
	width: 55px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 953px;
}

#u10932-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 55px;
	margin: 66px -10000px 0px 0px;
}

#u10935-4
{
	z-index: 52;
	width: 91px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 583px;
}

#u10935-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 91px;
	margin: 66px -10000px 0px 0px;
}

#u10948
{
	z-index: 56;
	width: 337px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 2px;
}

#u10948_img
{
	margin: -36px -12px -36px -10px;
}

#u9547
{
	z-index: 59;
	width: 115px;
	background-color: transparent;
	position: fixed;
	top: 96px;
	left: 50%;
	margin-left: 368px;
}

#u9547_img
{
	padding-bottom: 35px;
}

.js #u9547.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#pu9559
{
	width: 0.01px;
	margin-left: -70px;
	margin-top: 42px;
}

#u9559
{
	z-index: 2;
	width: 220px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
}

#u9534
{
	z-index: 3;
	width: 726px;
	height: 2258px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
	background-color: #0E0E0E;
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 194px;
}

#u9535-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 393px;
}

#u9538-20
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 226px;
}

#u9532
{
	z-index: 28;
	width: 720px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 200px;
}

.html
{
	background: #FFFFFF url("../images/bg2.jpg") no-repeat center top fixed;
}

body
{
	position: relative;
	min-width: 1000px;
}

