.version.disgaea_dimensions /* version checker */
{
	color: #000002;
	background-color: #820EDF;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 2700px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 33px;
	width: 0.01px;/* should not cover content below */
}

#u6465
{
	z-index: 43;
	height: 128px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u6465-bw
{
	z-index: 43;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#top01
{
	margin-left: 496px;
	position: relative;
}

#u9354
{
	z-index: 49;
	width: 115px;
	background-color: transparent;
	position: fixed;
	top: 96px;
	left: 50%;
	margin-left: 368px;
}

#u9354_img
{
	padding-bottom: 35px;
}

.js #u9354.ose_pre_init
{
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

#u6176
{
	z-index: 34;
	height: 47px;
}

#u6176-bw
{
	z-index: 34;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 128px;
}

#u6476-4
{
	z-index: 44;
	width: 78px;
	min-height: 21px;
	position: fixed;
	top: 141px;
	left: -213px;
}

#u6284-4
{
	z-index: 39;
	width: 78px;
	min-height: 21px;
	position: fixed;
	top: 141px;
	left: -110px;
}

#u6306-4
{
	z-index: 35;
	width: 78px;
	min-height: 21px;
	position: fixed;
	top: 141px;
	left: -12px;
}

#u6476-4:hover,#u6284-4:hover,#u6306-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 78px;
	margin: 0px;
}

#pu4915
{
	width: 0.01px;
	margin-left: -166px;
	margin-top: 240px;
}

#u4915
{
	z-index: 2;
	width: 220px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 199px;
	left: 96px;
}

#u9348
{
	z-index: 3;
	width: 726px;
	height: 2258px;
	-pie-box-shadow: none;
	box-shadow: 0px 8px 8px rgba(0,0,0,0.5);
	background-color: #0E0E0E;
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	border-radius: 4px;
	position: relative;
	margin-right: -10000px;
	margin-top: 54px;
	left: 290px;
}

#u9342-4
{
	z-index: 4;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	left: 489px;
}

#u9343-20
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 76px;
	left: 322px;
}

#u9349
{
	z-index: 28;
	width: 720px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 296px;
}

#u9344
{
	z-index: 30;
	width: 308px;
	background-color: transparent;
	-webkit-transform: matrix(0.9877,0.1564,-0.1564,0.9877,27,-22);
	-ms-transform: matrix(0.9877,0.1564,-0.1564,0.9877,27,-22);
	transform: matrix(0.9877,0.1564,-0.1564,0.9877,27,-22);
	position: relative;
	margin-right: -10000px;
	margin-top: 1696px;
	left: 23px;
}

#u9346
{
	z-index: 32;
	width: 327px;
	background-color: transparent;
	position: fixed;
	top: 2112px;
	left: 797px;
}

.html
{
	background: #FFFFFF url("../images/bg3.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 1000px;
}

