.version.disgaea_dimension /* version checker */
{
	color: #000005;
	background-color: #51DF95;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 293px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 207px;
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

#pu3054
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 76px;
}

#u3054
{
	z-index: 2;
	width: 220px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
}

#u3175
{
	z-index: 3;
	width: 756px;
	height: 959px;
	background-color: #FFFFFF;
	opacity: 0.84;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=84)";
	filter: alpha(opacity=84);
	position: relative;
	margin-right: -10000px;
	left: 121px;
}

#u3178
{
	z-index: 6;
	width: 386px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 314px;
}

#u3180-4
{
	z-index: 8;
	width: 133px;
	min-height: 23px;
	background-color: transparent;
	color: #5D5D5D;
	position: relative;
	margin-right: -10000px;
	margin-top: 171px;
	left: 436px;
}

#u3176
{
	z-index: 4;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 200px;
	width: 29.5%;
	left: 63.25%;
}

#u3176_img
{
	width: 100%;
}

#u3181
{
	z-index: 12;
	width: 70px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 780px;
}

.html
{
	background: #FFFFFF url("../images/page_bg_generated_v6b.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 1000px;
}


