.version.home /* version checker */
{
	color: #0000FB;
	background-color: #CE6E3F;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 893px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-top: 85px;
	padding-bottom: 381px;
	width: 0.01px;/* should not cover content below */
}

#pu10770
{
	width: 0.01px;
	padding-bottom: 6px;
	margin-left: -58px;
}

#u10770
{
	z-index: 3;
	width: 980px;
	position: relative;
	margin-right: -10000px;
	margin-top: 53px;
	left: 81px;
}

#u10908-4
{
	z-index: 5;
	width: 67px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 346px;
}

#u10908-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 67px;
	margin: 66px -10000px 0px 0px;
}

#u10923-4
{
	z-index: 9;
	width: 118px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 439px;
}

#u10923-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 118px;
	margin: 66px -10000px 0px 0px;
}

#u10926-4
{
	z-index: 13;
	width: 90px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 699px;
}

#u10926-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 90px;
	margin: 66px -10000px 0px 0px;
}

#u10929-4
{
	z-index: 17;
	width: 112px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 815px;
}

#u10929-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 112px;
	margin: 66px -10000px 0px 0px;
}

#u10932-4
{
	z-index: 21;
	width: 55px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 953px;
}

#u10932-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 55px;
	margin: 66px -10000px 0px 0px;
}

#u10935-4
{
	z-index: 25;
	width: 91px;
	min-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	left: 583px;
}

#u10935-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 91px;
	margin: 66px -10000px 0px 0px;
}

#u10948
{
	z-index: 29;
	width: 337px;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 2px;
}

#u10948_img
{
	margin: -36px -12px -36px -10px;
}

#u11598
{
	z-index: 31;
	width: 500px;
	background-color: transparent;
	position: fixed;
	bottom: 0px;
	left: 50%;
	margin-left: -1020px;
}

#u11598_img
{
	margin-bottom: -85px;
}

#u9559
{
	z-index: 2;
	width: 220px;
	min-height: 23px;
	left: -70px;
	margin-top: 273px;
	position: relative;
}

.html
{
	background: #FFFFFF url("../images/bg2.jpg") no-repeat center top fixed;
}

body
{
	position: relative;
	min-width: 1000px;
}

