.version.information /* version checker */
{
	color: #0000F5;
	background-color: #F2F320;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1000px;
	min-height: 893px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#pu4770
{
	width: 0.01px;
	padding-bottom: 2429px;
	margin-right: -10000px;
	margin-left: -213px;
}

#u4770
{
	z-index: 30;
	width: 750px;
	background-color: transparent;
	position: fixed;
	top: 1364px;
	left: 575px;
}

#u4770_img
{
	padding-right: 270px;
}

#u6176
{
	z-index: 32;
	height: 47px;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u6176-bw
{
	z-index: 32;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 128px;
}

#u6306-4
{
	z-index: 33;
	width: 78px;
	min-height: 21px;
	position: fixed;
	top: 141px;
	left: -12px;
}

#u6284-4
{
	z-index: 37;
	width: 78px;
	min-height: 21px;
	position: fixed;
	top: 141px;
	left: -110px;
}

#u6465
{
	z-index: 41;
	height: 128px;
}

#u6465-bw
{
	z-index: 41;
	position: fixed;
	left: 0px;
	right: 0px;
	top: 0px;
}

#u6476-4
{
	z-index: 42;
	width: 78px;
	min-height: 21px;
	position: fixed;
	top: 141px;
	left: -213px;
}

#u6306-4:hover,#u6284-4:hover,#u6476-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 78px;
	margin: 0px;
}

#pu4915
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: -70px;
}

#u4915
{
	z-index: 2;
	width: 220px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
}

#u4774
{
	z-index: 3;
	width: 845px;
	height: 2563px;
	background-color: #0E0E0E;
	opacity: 0.92;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=92)";
	filter: alpha(opacity=92);
	position: relative;
	margin-right: -10000px;
	left: 144px;
}

#u4765
{
	z-index: 4;
	width: 185px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 143px;
}

#u4768-4
{
	z-index: 5;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 122px;
	left: 438px;
}

#u4766
{
	z-index: 9;
	width: 185px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 488px;
}

#u4767
{
	z-index: 10;
	width: 185px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 652px;
}

#u4772
{
	z-index: 11;
	width: 185px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 805px;
}

#u4773
{
	z-index: 12;
	width: 185px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 37px;
	left: 309px;
}

#u4769-17
{
	z-index: 13;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 192px;
	left: 196px;
}

.html
{
	background: #FFFFFF url("../images/page_bg_generated_v6b.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 1000px;
}


