#u10770
{
	background-color: transparent;
}

#u10908-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u10923-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u10926-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u10929-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u10932-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u10935-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u10908-4:hover,#u10923-4:hover,#u10926-4:hover,#u10929-4:hover,#u10932-4:hover,#u10935-4:hover
{
	text-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u10948
{
	background-color: transparent;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-2,6);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-2,6);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,-2,6);
}

#u9559
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

