#u12696
{
	background-color: transparent;
	-webkit-transform: matrix(-1,0,0,-1,2002,332);
	-ms-transform: matrix(-1,0,0,-1,2002,332);
	transform: matrix(-1,0,0,-1,2002,332);
}

#u12516
{
	background-color: #000000;
	opacity: 0.8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	filter: alpha(opacity=80);
	border-radius: 10px;
}

#u13169
{
	background-color: transparent;
	-webkit-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-2,6);
	-ms-transform: matrix(0.9994,-0.0349,0.0349,0.9994,-2,6);
	transform: matrix(0.9994,-0.0349,0.0349,0.9994,-2,6);
}

#u13163-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u13164-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u13168-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u13165-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u13166-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u13167-4
{
	background-color: transparent;
	color: #FFFFFF;
	line-height: 29px;
	font-size: 24px;
	font-family: Lucida Sans, Lucida Grande, Lucida Sans Unicode, sans-serif;
	font-weight: normal;
}

#u13163-4:hover,#u13164-4:hover,#u13168-4:hover,#u13165-4:hover,#u13166-4:hover,#u13167-4:hover
{
	text-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	-pie-box-shadow: none;
	box-shadow: none;
}

#u12519
{
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
}

#u13625,#u12565
{
	background-color: transparent;
}


