.version.untitled_2 /* version checker */
{
	color: #0000EB;
	background-color: #C41443;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1160px;
	min-height: 133px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 957px;
	margin-left: auto;
	margin-right: auto;
}

#u1566
{
	z-index: 2;
	width: 220px;
	min-height: 23px;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 26px;
}

#u2466
{
	z-index: 3;
	width: 147px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 533px;
}

#u2471
{
	z-index: 4;
	width: 147px;
	min-height: 50px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 83px;
	left: 680px;
}

.html
{
	background: #FFFFFF url("../images/bg.jpg") repeat center center fixed;
}

body
{
	position: relative;
	min-width: 1160px;
}


